<h1>List Users</h1>
<% @users.each do |user| %>
	<%= user.email %><br/>
	<%= user.id %><br/>
	<hr>
<% end %>


<h2> Other Actions </h2>

<ul>

<li>
	<%= link_to "Back Question List", questions_path %>
</li>
</ul>

