<style>
table, th, td {
  border: 1px solid black;
}
</style>


<hr>

<h2> Answers </h2>

<%@answers.each do |answer| %>
	<p>
		<bf>Body: </bf><%= answer.body %> <br>
	 <bf>Author: </bf><%= answer.author %> <br>
  </p>

	<p>
  	<ul>

    <% if answer.author == current_user.email %>
      <% if can? :update, Answer %>
      <li><%= link_to "Edit", edit_question_answer_path(answer.question, answer) %></li>
      <% end %> 
      <% else %> 
        <li>Edit (you're not the author)</li>
    <% end %>


  <% if answer.author == current_user.email || current_user.coolness==2 ||  current_user.coolness==3%>
      <% if can? :destroy, Answer %>
		  <li><%= link_to 'Delete Answer', [answer.question, answer],
              method: :delete,
              data: { confirm: "Are you sure?" } %></li>
      <% end %> 
      <% else %> 
        <li>Destroy (you're not the author)</li>
    <% end %> 

	</ul>

<% end %>

